
.color-blue {
    color: #04146c;
    font-family: "Mulish black"; 
    font-size: 28.11pt;
  }
  

  h6[_msttexthash="1160887"] {
    color: #04146c;
    
  }
 
  h6[_msttexthash="324025"] {
    color: #0a2ff1;
    font-family: "Mulish bold"; 
  }

  h6[_msttexthash="282295"] {
    color: #04146c;
    font-family: "Mulish regular";
  }
  